.contact-page {
  margin: 150px;
  display: flex;
  align-items: center;
  justify-content:center;
}

.description-contact {
  text-align:center;
  padding: 30px;
}

.title-contact {
  font-size: 25px;
  padding-bottom: 15px;
}
