<div class="about-page">
  <div class="about-content">
    <div class="image-about">
      <%= image_tag "quentin.jpg", class: "avatar-about" %>
    </div>
    <div class="description-about">
      <div class="title-about">
        Qui suis-je?
      </div>
      <div class="text-about">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni laborum omnis quod, optio nisi ducimus. Earum harum delectus accusamus ut accusantium asperiores tempora illo voluptas id? Cum autem delectus possimus.

        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum iure dignissimos sed, eius quibusdam praesentium nostrum exercitationem nemo cum neque distinctio tempora, ad laudantium quo quis quidem explicabo? Fuga, eveniet!
      </div>
    </div>
  </div>
</div>
