<div class="contact-page">
  <div class="description-contact">
    <div class="title-contact">
      Thomas Quentin
    </div>
    <div class="text-contact">
       <div>
        <i class="fa fa-envelope-o"></i>
        quentinthomas@wanadoo.fr
      </div>
      <div>
        <i class="fa fa-phone"></i>
        +33 6 38 40 88 03
      </div>
    </div>
  </div>
</div>
