<div class="rehabilitation-page">

<div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <%= image_tag "bidassoa-003.png", class: "pages-card" %>
      </div>
       <div class="col-xs-12 col-md-4">
        <%= image_tag "bluets1.jpg", class: "pages-card"  %>
        <span class= "pages-card-description">
        Meubles d'inspiration fifties
        </span>
      </div>
       <div class="col-xs-12 col-md-4">
        <%= image_tag "republique1.jpg", class: "pages-card" %>
      </div>
    </div>
  </div>

</div>
