/* Card design */

.home-card {
  position: relative;
  height: 400px;
  width: 350px;
  overflow: hidden;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
  // background-size: cover !important;
  color: #FFF;
  border-radius: 5px;
  margin-bottom: 20px;
}

.home-card-description {
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
}


.home-card:hover {
  opacity: 0.7;
}

.home-card:hover .home-card-description {
  display: block;
}
